body {
    margin: 1vw;
}

p {
    margin: 1px;
}

h1 {
    font-size: 3rem;
}

.center {
    text-align: center;
    margin-top: 5vw;
}

/* mise en forme nav-barre */
.displayR {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.displayC {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#mobile {
    display: none;
}

#screen {
    display: flex;
}

@media screen and (max-width: 768px) {
    .icon {
        display: block;
        font-size: 5rem;
        color: inherit;
    }
    .icon:hover {
        color: grey;
    }
    .myLinks {
        visibility: hidden;
    }
    #mobile {
        display: flex;
    }

    #screen {
        display: none;
    }
}

/**/

footer {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo {
    width: auto;
}

/* mise en forme du thème light-dark */

:root {
    --light-bg: rgb(190, 209, 209);
    --light-color: darkslategray;

    --dark-bg: darkslategray;
    --dark-color: rgb(190, 209, 209);
}

#light {
    background-color: var(--light-bg);
    color: var(--light-color);
}

#dark {
    background-color: var(--dark-bg);
    color: var(--dark-color);
}

body#light h2,
body#light h3 {
    background-color: var(--dark-bg);
    color: var(--dark-color);
    box-shadow: rgba(0, 0, 0, 0.8) 1.95px 1.95px 2.6px;
}

body#dark h2,
body#dark h3 {
    background-color: var(--light-bg);
    color: var(--light-color);
    box-shadow: rgba(0, 0, 0, 0.8) 1.95px 1.95px 2.6px;
}
